<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style-login.css">
    <title>ลงชื่อเข้าใช้ - บัญชี booble</title>
</head>
<body>
    <section class="signin-section">
        <form action="/" method="post">
            <h1>
                <span style="color: rgb(228, 5, 5);">B</span>
                <span style="color: rgb(0, 56, 241);">o</span>
                <span style="color: orange;">o</span>
                <span style="color: rgb(0, 56, 241);">b</span>
                <span style="color: rgb(1, 176, 1);">l</span>
                <span style="color: rgb(228, 5, 5);">e</span>
            </h1>
            <h2>ลงชื่อเข้าใช้</h2>
            <p>ใช้บัญชี Booble ของคุณ</p>
            <div class="input">
                <label>บีเมลล์หรือโทรศัพท์</label>
                <Input type="email" name="email" required></Input>
            </div>
            <% if (locals.message) { %>
                <div class="check_input" style="color: red; font-size: 13px; margin-top: 5px;">
                    ไม่พบบัญชี booble ของคุณ
                </div>
            <% } %>
            <div class="selection-form">
                <a href="/register">สร้างบัญชี</a>
                <button type="submit">ถัดไป</button>
            </div>
        </form>
    </section>

    <script src="./js/login.js" charset="UTF-8"></script>
</body>
</html>